
@mixin reset {
  margin: 0;
  padding: 0;
}
@mixin container-main {
  margin: 0 auto;
  width: 58vw;
}

@mixin size($height, $width) {
  height: $height;
  width: $width;
}

@mixin colored-btn($color, $font-color, $height, $width) {
  @include size($height, $width);
  align-items: center;
  background-color: $color;
  box-shadow: 0 3px 16px $color;
  color: $font-color;
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  justify-content: center;
  margin: 20px 0 0 0;
  text-align: center;
  text-decoration: none;
}

@function math-sub ($val1, $val2) {
  @return $val1 - $val2;
}
