body {
    ;
    // margin: 0;
    // padding: 0;
}

h1 {
    margin: 0;
    color: red;
    // position: fixed;
    // color: rgba(0, 0, 0, 0);
}

.text {
    height: 2000px;
}

li {
    display: flexbox;
    list-style-type: none;
    .sidebar-call-icon {
        // background-image: url('../src/assets/img/header/call-img.svg');
        background-color: yellow;
        height: 30px;
        width: 30px;
    }
}
